<ion-header>
  <ion-toolbar [color]="Color">
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding [color]="Color">
  <ion-list>
    <ion-item [color]="Color">
        <ion-label>Base Url</ion-label>
        <ion-input type="text" block text-right [(ngModel)]="BaseUrl" (ngModelChange)="baseUrlChange()"></ion-input>  
    </ion-item>
    <ion-item [color]="Color">
      <ion-label>Dark Mode</ion-label>
      <ion-toggle [(ngModel)]="DarkMode" [checked]="DarkMode" (ngModelChange)="darkModeChange()"></ion-toggle>
    </ion-item>
  </ion-list>
</ion-content>
